body{
	font-family: arial;
}

#foll, #peeps{
	width: 30%;
	font-size: 50%;
}

#in{
	width: 17%;
}

#api-calls{
	font-size: 65%;
	color: #EEE;
	text-shadow: 2px 2px 30px #030303;
    filter: dropshadow(color=#030303, offx=2, offy=2);
    margin-left: 23%;
}

.theme{
	background: #00b7ea; /* Old browsers */
	background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}

.nav{
	margin-left: 10%;
}

.ui-bar-a>img{
	text-align: center;
	text-shadow: 5px 5px 10px #000;
}

li{
	list-style: none;
}